@font-face {
    font-family: "norse";
    src:
        url("fonts/norse-bold-webfont.woff2"),
        url("fonts/norse-bold-webfont.woff");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #f9fafb;
}

.sidebar {
    min-height: 100vh;
    width: 30%;
    
    position: relative;
}

.background {
    position: absolute;
}

.logo {
    width: 100%;
    padding: 1rem;

    background-color: rgba(0,0,0,.5);

    position: absolute;
    top: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 8rem;
    font-family: "norse", sans-serif;
    color: white;
}

footer {
    width:100%;

    position:absolute;
    bottom:0.5%;

    text-align: center;
    font-family: sans-serif;
    color: white;
}

.background-credits a {
    color: white;
}

.content {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content p:first-child {
    padding: 2rem;

    max-inline-size: 66ch;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.sign-up {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    background-color: white;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    box-shadow: 10px 10px 5px lightgrey;
}

button {
    padding: 1em 4em;
    margin: 2rem;

    background-color: #596D48;

    color: white;
    font-size: 1rem;
    font-weight: bold;

    border: none;
    border-radius: 12px;
}

.content > p {
    padding: 0 2em;

    max-inline-size: 66ch;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}

.content a {
    color: #596D48;
    font-style: none;
    text-decoration: none;
}

.sign-up h2 {
    font-size: 1.25rem;
    font-family: sans-serif;
}

.sign-up p:first-of-type {
    font-size: 1rem;
    font-family: sans-serif;
    color: grey;
}

.form-row {
    display: flex;
    padding: .5rem 0;
    gap: 4rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 16rem;
}

.sign-up label,
.sign-up p:last-of-type {
    font-size: .75rem;
    font-family: sans-serif;
    font-weight: bold;
    color: grey;
}

.form-input input[type="text"],
.form-input input[type="email"],
.form-input input[type="tel"] {
    width: 100%;
    padding: 0 7px;

    line-height: 2rem;
    border: 2px solid #E5E7EB;
    border-radius: 3px;

    font-family: sans-serif;
    font-size: 1.5rem;
}

.form-input input[type="text"]:focus,
.form-input input[type="email"]:focus,
.form-input input[type="tel"]:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 2px 2px 2px gray;
}

.form-input input[type="text"]::placeholder,
.form-input input[type="email"]::placeholder {
    opacity: .5;
}

.form-input input[type="text"]:not(:placeholder-shown):not(:focus):invalid,
.form-input input[type="email"]:not(:placeholder-shown):not(:focus):invalid {
    border: 2px solid red;
}

form button:hover {
    background-color: #718a5c;
}

form button:active {
    background-color: #3f4d33;
}

@media only screen and (max-width: 1024px) {
    body {
        flex-direction: column;
    }

    .logo {
        top: 5%;
    }

    .footer {
        top: 1%;
    }

    .sidebar {
        width: 100%;
        min-height: 15rem;
    }

    .background {
        max-height: 20em;
    }

    .content {
        width: 100%;
        
        position: absolute;
        top: 20rem;
    }

    .form-row {
        align-items: flex-end;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sign-up {
        width:100%;
    }

    .content > form + p{
        display: flex;
        align-self: center;

        gap: 1ch;
    }
}